name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  ci-build:
    name: Run CI checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      - name: Run flake8 lint
        run: |
          pip install flake8
          flake8 . --ignore=E501,W503 || true


      - name: Build Docker image
        run: |
          docker build . -t audio_streamer:test
